.heading {
  padding: 1rem 0;
  text-align: center;
  padding-top: 6rem;
  border-radius: var(--br);
}

.heading h1 {
  font-size: 1.2rem;
  text-decoration: underline;
  color: var(--gray7);
}

.categories {
  background-color: var(--white);
  padding: 2rem 0.8rem;
  border-radius: var(--br);
  box-shadow: var(--bs);
}

.categories-heading h2 {
  font-size: 0.8rem;
  margin-bottom: 1.5rem;
  color: var(--gray4);
  text-align: center;
}

.categories-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  gap: 0.5rem;
}

.category-item {
  position: relative;
  display: grid;
  place-items: center;
  padding: 0.5rem 0;
  box-shadow: var(--bs);
  background-color: var(--color3);
  border-radius: var(--br);
  transition: var(--transition);
  cursor: pointer;
}

.icon-wrap {
  width: 2rem;
  height: 2rem;
  display: grid;
  place-items: center;
  margin-bottom: 0.2rem;
  background-color: var(--color2);
  border-radius: 50%;
}

.category-item p {
  font-size: 0.7rem;
}

.category-item svg {
  width: 1.2rem;
  fill: var(--color);
}

.check {
  position: absolute;
  width: 1.2rem;
  height: 1.2rem;
  top: -8px;
  right: -8px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color);
  border-radius: 50%;
  transition: var(--transition);
}

.check svg {
  width: 0.8rem;
  fill: transparent;
}

/* enter budget */
.budget-amt {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  margin: 1rem 0 4rem;
  background-color: var(--white);
  box-shadow: var(--bs);
  border-radius: var(--br);
}

form {
  text-align: center;
  margin-bottom: 1rem;
}

label {
  font-size: 0.9rem;
  display: block;
  margin-bottom: 0.8rem;
}
.form-group {
  width: 8rem;
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  padding: 0.5rem;
  background-color: var(--color3);
  box-shadow: var(--bs);
  border-radius: var(--br);
  border-bottom: 3px solid var(--color);
}
.form-group span {
  color: var(--gray3);
  margin-right: 0.5rem;
}

input {
  width: 100%;
  background: none;
  color: var(--gray4);
  text-align: center;
  border: 0;
  outline: 0;
}
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
}
input::placeholder {
  font-size: 0.7rem;
  color: var(--gray3);
}
.add-budget-btn {
  position: absolute;
  bottom: -1rem;
  left: 50%;
  width: 5rem;
  padding: 0.65rem;
  font-size: 0.7rem;
  background: none;
  background-color: var(--color);
  color: var(--white);
  border-radius: 1rem;
  box-shadow: var(--bs);
  letter-spacing: 0.05rem;
  border: 0;
  outline: 0;
  transition: var(--transition);
}

.add-budget-btn:disabled {
  background-color: var(--gray3);
}
.cancel {
  position: absolute;
  bottom: -1rem;
  width: 2.2rem;
  height: 2.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -4rem;
  background: none;
  background-color: #7788f4;
  color: var(--white);
  outline: 0;
  border: 0;
  border-radius: 50%;
}
.cancel svg {
  width: 1.5rem;
}

/* list */
.budget-list-wrapper {
  margin-bottom: 5.5rem;
}
.budget-list-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.2rem;
}
.budget-list-header button {
  min-width: 5rem;
  padding: 0.4rem 0;
  font-size: 0.7rem;
  color: var(--white);
  background: linear-gradient(to bottom right, var(--color), #7788f4);
  border-radius: var(--br);
  box-shadow: var(--bs);
}
.budget-list-wrapper h4 {
  font-size: 1rem;
  color: var(--gray4);
}

.budget {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white);
  margin-bottom: 0.8rem;
  padding: 0.8rem 0.5rem;
  box-shadow: var(--bs);
  border-radius: var(--br);
  border-left: 3px solid var(--color);
}

.budget-cart {
  display: flex;
  align-items: center;
}

.budget-cart span {
  width: 1.5rem;
  height: 1.5rem;
  display: grid;
  place-items: center;
  margin-right: 0.5rem;
  background-color: var(--color2);
  border-radius: 50%;
}

.budget-cart p {
  color: var(--gray4);
  font-size: 0.75rem;
}

.budget svg {
  width: 1rem;
  fill: var(--color);
}

.budget-actions {
  display: flex;
  align-items: center;
}
button {
  background: none;
  border: 0;
  outline: 0;
}

.thrash svg {
  width: 0.8rem;
  fill: red;
}

.edit svg {
  width: 1rem;
  margin-right: 0.5rem;
  fill: none;
  color: var(--gray3);
}

@media screen and (min-width: 700px) {
  .categories-list {
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 1rem;
  }
  .category-item {
    padding: 1rem;
  }
  .budget-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.8rem;
  }
  .budget {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1000px) {
  .heading {
    padding-top: 2rem;
  }
  .heading h1 {
    font-size: 1.4rem;
  }
  .categories {
    padding: 2rem;
  }
  .categories-list {
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    gap: 1rem;
  }
  .categories-heading h2 {
    font-size: 1rem;
  }
  .category-item {
    padding: 1rem;
  }
  .category-item p {
    font-size: 0.8rem;
  }
  .form-group {
    width: 12rem;
  }
  .cancel {
    margin-left: -5rem;
  }
  .check {
    right: 10px;
  }
}
