.heading {
    padding: 1rem 0;
    text-align: center;
}
.heading h1 {
    font-size: 1.2rem;
}
.categories {
    background-color: var(--white);
    padding: 2rem .8rem;
    border-radius: var(--br);
    box-shadow: var(--bs);
}
.categories-heading h2{
    font-size: .8rem;
    margin-bottom: 1.5rem;
    color: var(--gray4);
    text-align: center;
}
.categories-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    gap: .5rem;
}
.category-item {
    position: relative;
    display: grid;
    place-items: center;
    padding: .5rem 0;
    box-shadow: var(--bs);
    background-color: var(--color3);
    border-radius: var(--br);
    border: 2px solid transparent;
}
.active-category {
    border: 2px solid var(--color);
}
.icon-wrap {
    width: 2rem;
    height: 2rem;
    display: grid;
    place-items: center;
    margin-bottom: .2rem;
    background-color: var(--color2);
    border-radius: 50%;
}
.category-item p {
    font-size: .7rem;
}
.category-item svg {
    width: 1.2rem;
    fill: var(--color);
}
.check {
    position: absolute;
    top: 0;
    right: 0;
}
.check svg {
    width: .8rem;
    fill: transparent;
}
.budget-amt {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 0 5rem;
}
label {
    font-size: .9rem;
}
input {
    width: 6rem;
    padding:  .5rem;
    font-size: .8rem;
    display: block;
    margin: 1rem 0 0;
    color: var(--gray4);
    border: 0;
    outline: 0;
    box-shadow: var(--bs);
    border-radius: var(--br);
    border-bottom: 2px solid var(--color);
}
.add-budget-btn {
    width: 5rem;
    padding: .5rem;
    font-size: .7rem;
    background: none;
    background-color: var(--color);
    color: var(--white);
    border-radius: var(--br);
    box-shadow: var(--bs);
    letter-spacing: .05rem;
    border: 0;
    outline: 0;
}