.expense-section {
  position: relative;
  min-height: 100vh;
  background-color: #7788f479;
}
.expenses-item {
  background-color: #7788f467;
}
.expenses-icon-wrap {
  background-color: #7788f4;
}

.expenses-item svg {
  fill: var(--white);
}
.expenses-item .check svg {
  fill: transparent;
}
.expenses-form-group {
  background-color: #7788f44d;
  border-bottom: 3px solid #7788f4;
}
.add-expenses-btn {
  background-color: #7788f4;
}
.cancel-expenses {
  background-color: var(--color);
}
.expense-list-wrapper {
  margin-bottom: 0;
  padding-bottom: 5.5rem;
}
.expense-list-wrapper h4 {
  color: var(--gray6);
}
.expense {
  border-left: 3px solid #7788f4;
}
.expense-cart span {
  background-color: #7788f44d;
}
.expense-cart span svg {
  fill: #7788f4;
}
.expense-amt {
  color: red;
}

.alert {
  position: fixed;
  top: 0.5rem;
  right: 0;
  left: 0;
  width: 15rem;
  max-width: 400px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  text-align: center;
  background-color: var(--gray0);
  border-radius: var(--br);
  box-shadow: var(--bs);
  transition: var(--transition);
  z-index: 100;
}
.alert svg {
  width: 1rem;
  color: var(--white);
}
.alert div {
  width: 1.3rem;
  height: 1.3rem;
  display: grid;
  place-items: center;
  margin-right: 0.5rem;
  background-color: var(--color);
  border-radius: 50%;
}
.alert span {
  color: var(--color);
}
@media screen and (min-width: 1000px) {
  .alert {
    width: 18rem;
  }
}
