.history-wrapper {
  padding: 6rem 0 5.5rem;
}
.history {
  padding: 1rem;
  background: var(--white);
  border-radius: var(--br);
  box-shadow: var(--bs);
}
.budget-history {
  margin-bottom: 1rem;
}
.history-header {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--gray1);
}
.history-header div {
  display: flex;
  justify-content: center;
}
.history-header svg {
  width: 1.1rem;
  fill: var(--gray4);
  margin-right: 0.8rem;
}
.history-header p {
  font-size: 0.75rem;
  color: var(--gray4);
}
.history-content {
  min-height: 50vh;
}
.d-center {
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.expenses-content button {
  background-color: #7788f4;
}
.pie-chart-wrapper canvas {
  height: 9rem !important;
}
.history-budget-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 0.5rem;
  margin-top: 2rem;
}
.history-budget-list-item {
  padding: 0.5rem;
  border-radius: var(--br);
  transition: var(--transition);
  background-color: var(--gray0);
}
.history-expense-list-item span {
  background-color: #7788f4;
}
.history-budget-list-item:hover {
  background-color: var(--gray0);
}
.hbl-col1,
.history-budget-list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.history-budget-list-item p {
  font-size: 0.65rem;
}
.hbl-col1 svg {
  width: 1.2rem;
  fill: var(--color);
}
.history-expense-list-item svg {
  fill: #7788f4;
}
.hbl-col1 span {
  width: 1.8rem;
  height: 1.8rem;
  display: grid;
  place-items: center;
  margin-right: 1rem;
  border-radius: 50%;
  background-color: var(--color2);
}
.history-expense-list-item span {
  background-color: #7788f4;
  background-color: #7788f44d;
}
.hbl-col2 p:nth-child(2),
.hbl-col1 p:nth-child(2) {
  color: var(--gray4);
}
@media screen and (min-width: 1000px) {
  .history-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding-top: 2rem;
  }
  .history {
    width: 100%;
  }
  .budget-history {
    margin-bottom: 0;
  }
  .history-chart.chart-wrapper {
    width: 60%;
    margin: 0 auto;
  }
  .pie-chart-wrapper canvas {
    height: auto !important;
  }
  .history-budget-list-item {
    margin-bottom: 0;
  }
}
