.history-wrapper {
  padding: 2rem 0 5.5rem;
}
.history {
  padding: 1rem;
  background: var(--white);
  border-radius: var(--br);
  box-shadow: var(--bs);
}
.budget-history {
  margin-bottom: 1rem;
}
.history-header {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--gray1);
}
.history-header div {
  display: flex;
  justify-content: center;
}
.history-header svg {
  width: 1.1rem;
  fill: var(--gray4);
  margin-right: 0.8rem;
}
.history-header p {
  font-size: 0.75rem;
  color: var(--gray4);
}
.history-content {
  min-height: 50vh;
  /* outline: 1px solid red; */
  /* display: ; */
  /* height: 20rem; */
}
.d-center {
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.expenses-content button {
  background-color: #7788f4;
}
.pie-chart-wrapper canvas {
  height: 9rem !important;
}
@media screen and (min-width: 1000px) {
  .history-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  .history {
    width: 100%;
  }
  .budget-history {
    margin-bottom: 0;
  }
  .history-chart.chart-wrapper {
    width: 60%;
    margin: 0 auto;
  }
  .pie-chart-wrapper canvas {
    height: auto !important;
  }
}
